.site-menu {
  display: flex;
  padding: 0;

  li {
    width: 120px;
    list-style: none;
    text-align: center;
    border: 1px solid;

    a {
      display: block;
      text-decoration: none;

      &.active {
        font-weight: bold;
        color: $text-primary-color;
        background: $theme-bgcolor;
      }
    }
  }
}
